<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <section>
        <img class="main-header-img" src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main class="main">
        <section>
            <h3>Basado en tu última visita</h3>
            <div class="product">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="90%" alt="MacBook" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="product">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="90%" alt="MacBook" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="boxart">
                        <i class="fas fa-truck"></i>
                        <div class="product-value">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>